name: build-tests

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  pylint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint sphinx sphinx_rtd_theme
          pip install -r requirements.txt
      - name: Run pylint
        run: |
          pylint --disable=I --disable=W --disable=C --disable=R p5

  pytest:
    needs : pylint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest
          sudo apt-get install python3-opengl libglfw3 -y
      - name: Run Tests
        run: |
          pytest -svv p5

  sanity-tests-linux:
    needs : pytest
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [ '3.7', '3.8', '3.9', '3.10']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get install python3-opengl libglfw3 python3-wheel -y
          python -m pip install --upgrade pip
          pip install wheel
          pip install .
          sudo apt-get install x11-utils
      - name: Run headless tests
        uses: GabrielBB/xvfb-action@v1
        with:
          run: python p5/visualTests/sanity_testing.py 

  sanity-tests-macos:
    strategy:
      matrix:
        os: [macos-latest]
        python-version: [ '3.7', '3.8', '3.9', '3.10']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          brew install glfw
          brew install glew
          python -m pip install --upgrade pip
          pip install wheel
          pip install .
      - name: Run headless tests
        uses: GabrielBB/xvfb-action@v1
        with:
          run: python p5/visualTests/sanity_testing.py