name: Run sanity tests

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install dependencies
        run: |
          sudo apt-get install python-opengl libglfw3 python3-wheel -y
          python -m pip install --upgrade pip
          pip install wheel
          pip install .
      - name: Run headless tests
        uses: GabrielBB/xvfb-action@v1
        with:
          run: python p5/visualTests/sanity_testing.py